* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://www.hf.uio.no/imk/forskning/aktuelt/aktuelle-saker/2020/bilder/internettdyr_660.jpg);
    font-family:cursive;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-image 1s ease-in-out ;
}

#dogs, #cats {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.dogbuttons, .catbutton {
    background-color: rgba(87, 255, 4, 0.637);
    color: rgb(0, 0, 0);
    font-size: large;
    font: bold Verdana;
}

.dogbuttons:hover, .catbutton:hover {
background-color:rgba(88, 255, 4, 0.432) ;
}

.dogbuttons:active, .catbutton:active {
    transform: scale(0.85);
    font-weight: bold;
}

header{
    background-image: linear-gradient(rgb(255, 15, 235), #6abcff);
    color: white;
    padding: 0.5em;
    width: 100%;
    text-align: center;
    opacity: 90%;
}


h1 {
    font-size: 2em;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}
.quote {
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px black;
}
.quoting {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bolder;
    opacity: 80%;
    text-shadow: 1px 1px black;
}
.quoting:hover {
    background-color: black;
}

.section1, .section2, .section3{
    padding-left: 8px;
    padding-right: 8px;
    text-shadow: 1px 1px black;
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 10px rgba(0, 0, 0, 0.2);
}

/* Gallery Section */
.section1 {
    background-image: linear-gradient(168deg, rgb(255, 192, 97) 0%, rgba(248, 56, 114, 0.87), rgb(219, 63, 193));
    /*background-image: linear-gradient(260deg, rgb(226, 107, 86, 0.863) 0%, rgba(255, 0, 191, 0.87), rgb(90, 90, 235));*/
    color:white;
    opacity:95%;
}

.section2 {
    background-image: linear-gradient(90deg,rgba(137, 50, 250, 0.733), rgba(0, 255, 200, 0.801));
    color: white;
    opacity: 95%;
}

.section3 {
    opacity: 90%;
    border-radius: 6px;
    background-image: linear-gradient(180deg, rgb(216, 216, 216),rgb(91, 174, 199), rgb(100, 241, 135));
}

footer {
    width: 100%;
    background-image: linear-gradient(#e40399,rgb(22, 189, 255));
    color:#ffffff;
    text-align: center;
    opacity: 90%;
    padding: 0.3em;
}

#dogh, #cath, #ranh {
    margin-bottom: 10px;
    font-size: 2.2em;
    text-shadow: 1.2px 1px black;
}

#dogh {
    color: rgb(255, 239, 22);
}
#cath {
    color: #86b5f3;
}
#ranh {
    color: #00c93c;
}

.photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
}

.photos img {
    width: 100%;
    height: 80%;
    border-radius: 8px;
    transition: opacity 1s ease-in-out, transform 0.2s ease-in;
    opacity: 0;
    margin-top: 15px;
    margin-bottom: 10px;
}

.photos img.visible {
    opacity: 1;
}

.photos img:hover {
    transform: scale(1.2);
}

hr {
    border-color: rgb(255, 252, 252);
    height: 2px;
}

#menu-icon {
    width: 8vw;
    max-width:40px;
    cursor: pointer;
    position:absolute;   
    top: 15px;
    right: 15px;
    z-index: 1000;
  }
  
  #sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-image: linear-gradient(rgb(243, 23, 243),black);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.15s ease;
  }
  
  #sidebar a {
    margin: 15px 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
  }

  #sidebar a:hover {
    color: #f7e11f;
    text-decoration: underline;
    transform: scale(1.1);
  }
  
  #sidebar.visible {
    transform: translateX(0);
  }
  
  .hidden {
    display: none;
  }



