* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dogs, #cats {
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#randompets {
    font-family: 'Times New Roman', Times, serif;
}

.dogbuttons, .catbutton {
    background-color: rgba(95, 231, 26, 0.637);
    color: rgb(0, 0, 0);
    font-size: large;
    font: bold Verdana;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 2em;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}
.quote {
    text-align: center;
}
.quoting {
    color: rgb(12, 14, 143);
    text-align: center;
    text-decoration: underline;
}

/* Gallery Section */
.section1 {
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    background-color: rgba(255, 153, 0, 0.726);
}

.section2 {
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    background-color: rgba(0, 255, 128, 0.575);
}

.section3 {
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    background-color: rgba(214, 46, 206, 0.911);
}

footer {
    width: 100%;
    background-color:#4CAF50;
    color:#ffffff;
    text-align: center;
}

#dogh {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #30a30d;
}
#cath {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #2960d4;
}
#ranh {
    margin-bottom: 10px;
    font-size: 2em;
    color: #f7e11f;
}
/* Photo Grid */
.photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.photos img {
    width: 100%;
    height: 80%;
    border-radius: 8px;
    transition: transform 0.2s ease-in;
}

.photos img:hover {
    transform: scale(1.2);
}

